@import url("https://fonts.googleapis.com/css2?family=Menbere:wght@100..700&display=swap");
@import "tailwindcss";
@config "../tailwind.config.js";
:root {
  --font-menbere: "Menbere", sans-serif;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}

body {
  font-family: var(--font-menbere);
}
